<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crimsonlabs.orlovcs.reaction">

    <application
        android:allowBackup="true"
        android:testOnly="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.crimsonlabs.orlovcs.reaction.MainActivity"
            android:label="@string/app_name"
      >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="Quantum Dice"
            android:name="com.crimsonlabs.orlovcs.reaction.dice_activity"
            android:parentActivityName="com.crimsonlabs.orlovcs.reaction.MainActivity"
            >
        </activity>

        <activity
            android:label="Quantum Numbers"
            android:name="com.crimsonlabs.orlovcs.reaction.rng_activity"
            android:parentActivityName="com.crimsonlabs.orlovcs.reaction.MainActivity"
            >
        </activity>

        <activity
            android:label="Quantum Lottery"
            android:name="com.crimsonlabs.orlovcs.reaction.lottery_activity"
            android:parentActivityName="com.crimsonlabs.orlovcs.reaction.MainActivity"
            >
        </activity>

        <activity
            android:label="Quantum Coins"
            android:name="com.crimsonlabs.orlovcs.reaction.coin_activity"
            android:parentActivityName="com.crimsonlabs.orlovcs.reaction.MainActivity"
            >
        </activity>

        <activity
            android:label="Quantum Password"
            android:name="com.crimsonlabs.orlovcs.reaction.password_activity"
            android:parentActivityName="com.crimsonlabs.orlovcs.reaction.MainActivity"
            >
        </activity>

        <activity
            android:label="Themes"
            android:name="com.crimsonlabs.orlovcs.reaction.theme_activity"
            android:parentActivityName="com.crimsonlabs.orlovcs.reaction.MainActivity"
            >
        </activity>

        <activity
            android:label="About"
            android:name="com.crimsonlabs.orlovcs.reaction.about_activity"
            android:parentActivityName="com.crimsonlabs.orlovcs.reaction.MainActivity"
            >
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>